<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Choose Writing Test Level</title>
    <link rel="stylesheet" th:href="@{/css/readingTestChooseLevel.css}" />
</head>
<body>
    <div class="choose-title">Choose your level to practise your writing</div>
    <div class="level-container">
        <div th:each="level : ${levels}"
             class="level-box"
             th:text="${level.levelName}"
             th:onclick="'window.location.href=\'/writing-test?levelId=' + ${level.id} + '\';'">
        </div>
    </div>
</body>
</html>